footer{
    margin-top: 90px;
    height: 150px;
    background-color: #F8F8F8;
    padding: 40px 0;
    position: relative;
    top: 200px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

.logo{
    width: 10%;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    margin-left: -50px;
    color: #5F605D;
    font-family: Alegreya Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}
.info h3{
    padding-left: 20px;
}
.info div{
    display: flex;
    justify-content: space-between;
}

.info div hr{
    height: 100%;
}

.direccion p{
    border-left: 1px solid #5F605D;
    color: #000;
    font-family: Alegreya Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px;
    padding-left: 10px;
}
.primero{
    border-left: none !important;
}

footer hr{
    height: 100%;
}

.redes img{
    width: 50px;
}