@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&family=Nunito:wght@300;400;700&family=Shadows+Into+Light&display=swap');
@font-face {
    font-family: 'Myanmar Sans Pro';
    src: url('../fonts/MyanmarSansPro-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    width: 100%;
}


a{
    text-decoration: none;
    color: #000;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    z-index: 2;
    position: absolute;
}

header img{
    width: 10%;
    margin-left: 93px;
    margin-top: 21px;
}

.nav1{
    color: #000;
    font-family: 'Myanmar Sans Pro', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 300; /*original 400*/
    line-height: normal;
    /*
    margin-left: 16px;
    margin-right: 28px;
    */
}
.nav1 a{
    margin: 15px;
}
.nav1 a:hover {
    text-decoration: underline; 
    text-decoration-color: rgba(237, 28, 36, 0.80);;
    text-decoration-thickness: 7px; 
}
.nav2{
    font-family: Alegreya Sans;
    font-size: 33px;
    font-style: normal;
    font-weight: 400; /*original 500*/
    line-height: normal;
}
.socio{
    width: 257px;
    height: 62px;
    border-radius: 3px;
    background: #ED1C24;
    padding: 11px 24px;
    color: #fff;
}
.acceso{
    width: 301px;
    height: 62px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #5F605D;
    padding: 11px 24px;
    color: #fff;
}
.difum{
    background: linear-gradient(180deg, #FFF 25.46%, rgba(255, 255, 255, 0.00) 89.37%);
    width: 1930px;
    height: 476px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
}