main{
    height: 100vh;
}
.banner-container{
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.banner{
    max-width: 100%;
    width: 100vw;
    height: 100vh;
}
.descripcion-banner{
    position: absolute;
    top: 363px;
    left: 60%; /*1177px*/
    color: #FFF;
    text-align: right;
    font-family: Alegreya Sans;
    font-size: 35px; /* 55 */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 522px;
    height: 330px;
    z-index: 3;
}
.descripcion-banner h1{
    margin-bottom: 5%;
}
.frases-container{
    position: relative;
    top:100%
}
.frase1{
    background: linear-gradient(90deg, #D2D0D0 10.71%, #FDFCFC 107.64%);
    padding: 30px;;
}
.frase1 p{
    color: #ED1C24;
    text-align: center;
    font-family: Alegreya Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.frase2{
    border-radius: 3px;
    background: linear-gradient(270deg, #D2D0D0 4.42%, #FDFCFC 94.65%);
    color: #5F605D;
    font-family: Alegreya Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 30px;
    text-align: center;
    }
.vector{
    position: absolute;
    width: 651px;
    height: 651px;
    top: 200px;
    right: -50px;
    fill: rgba(255, 255, 255, 0.20);
    z-index: 2;
}