<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Mottos</title>
</head>
<body>
    <div class="difum"></div>
    <header>
        <img src="../images/logo.png" alt="Logo mottos">
        <nav class="nav1">
            <a href="http://">Inicio</a>
            <a href="http://">Quienes Somos</a>
            <a href="http://">Comisión directiva</a>
            <a href="http://">Servicios</a>
            <a href="http://">Contacto</a>
        </nav>
        <nav class="nav2">
            <a class="socio" href="http://">Quiero ser socio</a>
            <a class="acceso" href="http://">Acceso Restringido</a>
        </nav>
    </header>
    <main>
        <section class="banner-container">
            <img class="banner" src="../images/banner.jpeg" alt="Imagen de moto">
            <div class="descripcion-banner">
                <h1>Unidos para impulsar la <br>pasión por las motos en <br>Argentina</h1>
                <a class="socio" href="http://">Quiero ser socio</a>
            </div>
            <img class="vector" src="../images/Vector.svg">
        </section>
        <section class="frases-container">
            <div class="frase1">
                <p>Somos la Organización que nuclea y representa a todos los <br>Concesionarios de Moto vehículos en la República Argentina</p>
            </div>
            <div class="frase2">
                <p>Trabajamos por la profesionalización del mercado de Motovehículos impulsando <br> proyectos de valor que generan cambios profundos y sustentables en el sector</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <img class="logo" src="../images/Frame.svg" alt="logo Mottos">
            <hr>
            <div class="info">
                <h3>Asociación Argentina de Motovehículos Asociación Civil</h3>
                <div class="direccion">
                    <!-- <p>
                        Sarmiento 1422 piso 2 |
                        C1042ABB |
                        Buenos Aires |
                        Argentina | 
                        comunicacion@mottos.org.ar
                    </p> -->
                    <p>
                        Sarmiento 1422 piso 2<hr>
                    </p>
                    <p>
                        C1042ABB<hr>
                    </p>
                    <p>
                        Buenos Aires<hr>
                    </p>
                    <p>
                        Argentina<hr>
                    </p>
                    <p>
                        comunicacion@mottos.org.ar
                    </p>
                </div>
            </div>
            <hr>
            <div class="redes">
                <img src="../images/whatsapp.svg" alt="icono whatsapp">
                <img src="../images/instagram.svg" alt="icono instagram">
            </div>
    </div>
    </footer>
</body>
</html>